@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<p>
    Это страница, которую я сам добавил

</p>
<p><a href="https://localhost:44394/">Ссылка на главную страницу</a>.</p>

<a name="Home"></a>

<img src="~/img/Дерево.jpg" />